In [3]:
import pandas as pd

In [106]:
import os

In [4]:
combinedFile='../datasets/Combined3StatesExcel/CombinedStates_2017.csv'
combinedFileDf=pd.read_csv(combinedFile)
combinedFileDf.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD53,HD02_VD53,HD01_VD54,HD02_VD54,HD01_VD55,HD02_VD55,HD01_VD56,HD02_VD56,HD01_VD57,HD02_VD57
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Male:,Margin of Error; Male:,Estimate; Male: - Under 6 years:,Margin of Error; Male: - Under 6 years:,Estimate; Male: - Under 6 years: - With health...,...,Estimate; Female: - 65 to 74 years: - With hea...,Margin of Error; Female: - 65 to 74 years: - W...,Estimate; Female: - 65 to 74 years: - No healt...,Margin of Error; Female: - 65 to 74 years: - N...,Estimate; Female: - 75 years and over:,Margin of Error; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - With ...,Margin of Error; Female: - 75 years and over: ...,Estimate; Female: - 75 years and over: - No he...,Margin of Error; Female: - 75 years and over: ...
1,0400000US13,13,Georgia,10241594,3158,4921118,8847,402109,6904,378200,...,465141,3236,5134,1537,305514,2955,304251,3105,1263,604
2,0400000US39,39,Ohio,11485078,1447,5600497,6227,419105,5047,402535,...,583901,2431,3442,883,457985,3172,456544,3149,1441,568
3,0400000US41,41,Oregon,4102901,1020,2024505,4244,141548,2920,136694,...,223820,1945,936,452,152038,1641,151682,1666,356,262

In [5]:
combinedFile='../datasets/Combined3StatesExcel/CombinedStates_2017.csv'
combinedFileDf2=pd.read_csv(combinedFile, header=1)
combinedFileDf2.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Male:,Margin of Error; Male:,Estimate; Male: - Under 6 years:,Margin of Error; Male: - Under 6 years:,Estimate; Male: - Under 6 years: - With health insurance coverage,...,Estimate; Female: - 65 to 74 years: - With health insurance coverage,Margin of Error; Female: - 65 to 74 years: - With health insurance coverage,Estimate; Female: - 65 to 74 years: - No health insurance coverage,Margin of Error; Female: - 65 to 74 years: - No health insurance coverage,Estimate; Female: - 75 years and over:,Margin of Error; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - With health insurance coverage,Margin of Error; Female: - 75 years and over: - With health insurance coverage,Estimate; Female: - 75 years and over: - No health insurance coverage,Margin of Error; Female: - 75 years and over: - No health insurance coverage
0,0400000US13,13,Georgia,10241594,3158,4921118,8847,402109,6904,378200,...,465141,3236,5134,1537,305514,2955,304251,3105,1263,604
1,0400000US39,39,Ohio,11485078,1447,5600497,6227,419105,5047,402535,...,583901,2431,3442,883,457985,3172,456544,3149,1441,568
2,0400000US41,41,Oregon,4102901,1020,2024505,4244,141548,2920,136694,...,223820,1945,936,452,152038,1641,151682,1666,356,262

In [6]:
TcombinedFileDf2 = combinedFileDf2.T

In [7]:
TcombinedFileDf2.head()

                                   0            1            2
Id                       0400000US13  0400000US39  0400000US41
Id2                               13           39           41
Geography                    Georgia         Ohio       Oregon
Estimate; Total:            10241594     11485078      4102901
Margin of Error; Total:         3158         1447         1020

In [8]:
TcombinedFileDf2.iloc[2]

0    Georgia
1       Ohio
2     Oregon
Name: Geography, dtype: object

In [9]:
TcombinedFileDf2.columns = TcombinedFileDf2.iloc[2]

In [24]:
TcombinedFileDf2.head()

Geography                    Georgia         Ohio       Oregon
Id                       0400000US13  0400000US39  0400000US41
Id2                               13           39           41
Geography                    Georgia         Ohio       Oregon
Estimate; Total:            10241594     11485078      4102901
Margin of Error; Total:         3158         1447         1020

In [25]:
TcombinedFileDf2.dtypes

Geography
Georgia    object
Ohio       object
Oregon     object
dtype: object

In [17]:
TcombinedFileDf2.loc['Estimate; Total:']['Oregon']

4102901

In [46]:
TcombinedFileDf2[(TcombinedFileDf2.index.str.contains('Estimate')) & \
                 (TcombinedFileDf2.index.str.contains('No health insurance coverage'))]['Oregon'].sum()

280816

In [105]:
states=['Georgia','Ohio','Oregon']
stateSummaryDf=pd.DataFrame(columns=['Georgia','Ohio','Oregon'])
for state in states:
    #name of state
        
    #TOTAL
    theTotal=TcombinedFileDf2.loc['Estimate; Total:'][f'{state}']
    stateSummaryDf.loc['Total',f'{state}']=theTotal
    #UNINSURED
    theUnisured=TcombinedFileDf2[(TcombinedFileDf2.index.str.contains('Estimate')) & \
     (TcombinedFileDf2.index.str.contains('No health insurance coverage'))][f'{state}'].sum()
    stateSummaryDf.loc['Uninsured',f'{state}']=theUnisured
    #RATE
    theRate=theUnisured/theTotal
    stateSummaryDf.loc['Rate',f'{state}']=theRate

stateSummaryDf.head()

            Georgia       Ohio     Oregon
Total      10241594   11485078    4102901
Uninsured   1375176     686014     280816
Rate       0.134274  0.0597309  0.0684433

In [107]:
thePath='../datasets/Combined3StatesExcel/'

In [108]:
import glob

In [154]:
theFiles=glob.glob(thePath + '*.csv')
theDFs={}
states=['Georgia','Ohio','Oregon']
for afile in theFiles:
    #     print(afile)
    #get the year fromt the file names
    
    theYear=os.path.splitext(afile)[0][-4:]
    
    #use the year in the df name/key
    theDFs[theYear]=pd.read_csv(afile, header=1)
    #TRANSPOSE or flip the rows and cols
    theDFs[theYear] = theDFs[theYear].T
    #set the col names to the states from row 3
    theDFs[theYear].columns = theDFs[theYear].iloc[2]
    #print(theDFs[theYear].head())
    #---------------------------------------------------------------
  
    
    for state in states:
        stateYear = state + theYear
        #print(stateYear)
        #name of state
        #print(f'{state}',state,theYear)
        #TOTAL
        theTotal=theDFs[theYear].loc['Estimate; Total:'][f'{state}']
        stateSummaryDf.loc['Total',stateYear]=theTotal
        #print(theTotal)
       #UNINSURED
        theUninsured=theDFs[theYear][(theDFs[theYear].index.str.contains('Estimate')) & \
         (theDFs[theYear].index.str.contains('No health insurance coverage'))][f'{state}'].sum()
        stateSummaryDf.loc['Uninsured',stateYear]=theUnisured
        #print(theUninsured)
        #RATE
        theRate=theUninsured/theTotal
        stateSummaryDf.loc['Rate',stateYear]=theRate
        #print(theRate)

stateSummaryDf.head()

,Georgia,Ohio,Oregon,Georgia2009,Ohio2009,Oregon2009,Georgia2010,Ohio2010,Oregon2010,Georgia2011,...,Oregon2014,Georgia2015,Ohio2015,Oregon2015,Georgia2016,Ohio2016,Oregon2016,Georgia2017,Ohio2017,Oregon2017
Total,10241594,11485078,4102901,9.594277e+06,1.135190e+07,3.779860e+06,9.519836e+06,1.135864e+07,3.799107e+06,9.619740e+06,...,3.931306e+06,1.002406e+07,1.144203e+07,3.991133e+06,1.012079e+07,1.143985e+07,4.054353e+06,1.024159e+07,1.148508e+07,4.102901e+06
Uninsured,1375176,686014,280816,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,...,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05
Rate,0.134274,0.0597309,0.0684433,1.914001e-01,1.217979e-01,1.701126e-01,1.970166e-01,1.231611e-01,1.714887e-01,1.957182e-01,...,9.733686e-02,1.385068e-01,6.522235e-02,7.022141e-02,1.293944e-01,5.627068e-02,6.234435e-02,1.342736e-01,5.973090e-02,6.844328e-02

In [145]:
#troubleshoot uninsured
theState='Ohio'
theYear='2017'
theUninsured=theDFs[theYear][(theDFs[theYear].index.str.contains('Estimate')) & \
         (theDFs[theYear].index.str.contains('No health insurance coverage'))][theState].sum()
theUninsured
        #stateSummaryDf.loc['Uninsured',stateYear]=theUnisured
    
#problem was uninsured was mispelled which let to wrong calculation and storage of rate value

686014

In [148]:
#troubleshoot UNINSURED

theUnisured=TcombinedFileDf2[(TcombinedFileDf2.index.str.contains('Estimate')) & \
 (TcombinedFileDf2.index.str.contains('No health insurance coverage'))][theState].sum()
    #stateSummaryDf.loc['Uninsured',f'{state}']=theUnisured
theUnisured

686014

In [155]:
stateSummaryDf.head()

,Georgia,Ohio,Oregon,Georgia2009,Ohio2009,Oregon2009,Georgia2010,Ohio2010,Oregon2010,Georgia2011,...,Oregon2014,Georgia2015,Ohio2015,Oregon2015,Georgia2016,Ohio2016,Oregon2016,Georgia2017,Ohio2017,Oregon2017
Total,10241594,11485078,4102901,9.594277e+06,1.135190e+07,3.779860e+06,9.519836e+06,1.135864e+07,3.799107e+06,9.619740e+06,...,3.931306e+06,1.002406e+07,1.144203e+07,3.991133e+06,1.012079e+07,1.143985e+07,4.054353e+06,1.024159e+07,1.148508e+07,4.102901e+06
Uninsured,1375176,686014,280816,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,...,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05
Rate,0.134274,0.0597309,0.0684433,1.914001e-01,1.217979e-01,1.701126e-01,1.970166e-01,1.231611e-01,1.714887e-01,1.957182e-01,...,9.733686e-02,1.385068e-01,6.522235e-02,7.022141e-02,1.293944e-01,5.627068e-02,6.234435e-02,1.342736e-01,5.973090e-02,6.844328e-02

In [159]:
#drop plain state columns as leftover from proof of concept work
stateSummaryDf.drop(['Oregon'], axis = 1, inplace = True)

,Ohio,Oregon,Georgia2009,Ohio2009,Oregon2009,Georgia2010,Ohio2010,Oregon2010,Georgia2011,Ohio2011,...,Oregon2014,Georgia2015,Ohio2015,Oregon2015,Georgia2016,Ohio2016,Oregon2016,Georgia2017,Ohio2017,Oregon2017
Total,11485078,4102901,9.594277e+06,1.135190e+07,3.779860e+06,9.519836e+06,1.135864e+07,3.799107e+06,9.619740e+06,1.136910e+07,...,3.931306e+06,1.002406e+07,1.144203e+07,3.991133e+06,1.012079e+07,1.143985e+07,4.054353e+06,1.024159e+07,1.148508e+07,4.102901e+06
Uninsured,686014,280816,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,...,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05
Rate,0.0597309,0.0684433,1.914001e-01,1.217979e-01,1.701126e-01,1.970166e-01,1.231611e-01,1.714887e-01,1.957182e-01,1.191326e-01,...,9.733686e-02,1.385068e-01,6.522235e-02,7.022141e-02,1.293944e-01,5.627068e-02,6.234435e-02,1.342736e-01,5.973090e-02,6.844328e-02

In [160]:
stateSummaryDf.head()

,Georgia2009,Ohio2009,Oregon2009,Georgia2010,Ohio2010,Oregon2010,Georgia2011,Ohio2011,Oregon2011,Georgia2012,...,Oregon2014,Georgia2015,Ohio2015,Oregon2015,Georgia2016,Ohio2016,Oregon2016,Georgia2017,Ohio2017,Oregon2017
Total,9.594277e+06,1.135190e+07,3.779860e+06,9.519836e+06,1.135864e+07,3.799107e+06,9.619740e+06,1.136910e+07,3.832640e+06,9.719411e+06,...,3.931306e+06,1.002406e+07,1.144203e+07,3.991133e+06,1.012079e+07,1.143985e+07,4.054353e+06,1.024159e+07,1.148508e+07,4.102901e+06
Uninsured,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,...,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05,6.860140e+05
Rate,1.914001e-01,1.217979e-01,1.701126e-01,1.970166e-01,1.231611e-01,1.714887e-01,1.957182e-01,1.191326e-01,1.571703e-01,1.844061e-01,...,9.733686e-02,1.385068e-01,6.522235e-02,7.022141e-02,1.293944e-01,5.627068e-02,6.234435e-02,1.342736e-01,5.973090e-02,6.844328e-02

In [167]:
#number of years?... to figure columns use 9 or 8? must need to use 18 or 8 as year to get 9 years? :)
17-8

9

In [163]:
#9*3=27
len(stateSummaryDf.columns)

27

In [168]:
#oasis
oasisPath='../datasets/Georgia_Oasis.csv'
ahrqPath='../datasets/AHRQ_ExcelFiles.csv'

In [170]:
oasisDf=pd.read_csv(oasisPath)
oasisDf.head()

,Unnamed: 0,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,Georgia,ER Visit Rate,ER Visit Rate,ER Visit Rate,ER Visit Rate,ER Visit Rate,ER Visit Rate,ER Visit Rate,ER Visit Rate,ER Visit Rate
1,NaN,"38,515.90","38,335.70","37,693.60","37,480.30","37,263.30","38,759.20","36,904.80","36,365.30","36,824.10"

In [178]:
#join (pull from oasis) and or store oasis into stateSummaryDf
for year in range(2009,2018):
#         theTotal=theDFs[theYear].loc['Estimate; Total:'][f'{state}']
#         stateSummaryDf.loc['Total',stateYear]=theTotal

    ERVisitRate=oasisDf[f'{year}'][1]
    #print(ERVisitRate)
    stateYear='Georgia' + f'{year}'
    #print(stateYear)
    stateSummaryDf.loc['ERVisitRate',stateYear] = ERVisitRate

In [174]:
# column 2017 and 2nd row [1]
oasisDf['2017'][1]

'38,515.90'

In [179]:
stateSummaryDf

,Georgia2009,Ohio2009,Oregon2009,Georgia2010,Ohio2010,Oregon2010,Georgia2011,Ohio2011,Oregon2011,Georgia2012,...,Oregon2014,Georgia2015,Ohio2015,Oregon2015,Georgia2016,Ohio2016,Oregon2016,Georgia2017,Ohio2017,Oregon2017
Total,9.59428e+06,1.135190e+07,3.779860e+06,9.51984e+06,1.135864e+07,3.799107e+06,9.61974e+06,1.136910e+07,3.832640e+06,9.71941e+06,...,3.931306e+06,1.00241e+07,1.144203e+07,3.991133e+06,1.01208e+07,1.143985e+07,4.054353e+06,1.02416e+07,1.148508e+07,4.102901e+06
Uninsured,686014,6.860140e+05,6.860140e+05,686014,6.860140e+05,6.860140e+05,686014,6.860140e+05,6.860140e+05,686014,...,6.860140e+05,686014,6.860140e+05,6.860140e+05,686014,6.860140e+05,6.860140e+05,686014,6.860140e+05,6.860140e+05
Rate,0.1914,1.217979e-01,1.701126e-01,0.197017,1.231611e-01,1.714887e-01,0.195718,1.191326e-01,1.571703e-01,0.184406,...,9.733686e-02,0.138507,6.522235e-02,7.022141e-02,0.129394,5.627068e-02,6.234435e-02,0.134274,5.973090e-02,6.844328e-02
ERVisitRate,"36,824.10",NaN,NaN,"36,365.30",NaN,NaN,"36,904.80",NaN,NaN,"38,759.20",...,NaN,"37,693.60",NaN,NaN,"38,335.70",NaN,NaN,"38,515.90",NaN,NaN

In [183]:
#AHRQ

ahrqDf=pd.read_csv(ahrqPath, encoding='ISO-8859-1') # to change to iso encoding and worked woohoo
ahrqDf

,Table 6_9_1_3_1.3,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,"Deaths per 1,000 hospital admissions with pneu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2015,NaN,2014,NaN,2013,NaN,2012,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,Rateb,SE,Rateb,SE,Rateb,SE,Rateb,SE,Rateb,SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,17.5,0.2,20.4,0.2,22.1,0.1,24.4,0.2,26.7,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,,,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alaska,DSU,DSU,DSU,DSU,DSU,DSU,43.7,5.2,39.0,5.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Arizona,12.2,1.2,14.3,1.1,13.8,1.1,14.8,1.2,17.2,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Arkansas,17.7,1.5,23.2,1.4,28.9,1.4,29.5,1.4,33.2,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,California,18.7,0.6,22.5,0.6,23.3,0.5,25.8,0.5,27.6,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Colorado,13.6,1.6,15.0,1.4,15.1,1.5,19.0,1.6,19.5,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Connecticut,18.9,1.6,18.8,1.4,22.3,1.3,24.7,1.3,25.6,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Florida,16.7,0.7,18.1,0.6,19.3,0.6,21.1,0.6,23.4,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Georgia,15.6,1.0,18.8,0.9,20.8,0.9,21.9,0.9,26.1,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Hawaii,25.0,3.1,28.3,2.7,25.6,2.7,30.0,2.7,36.9,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Illinois,16.6,0.8,19.2,0.7,21.8,0.7,23.3,0.8,25.5,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Indiana,16.3,1.1,17.2,1.0,22.4,1.0,22.7,1.0,27.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Iowa,20.6,1.5,19.4,1.5,24.1,1.4,23.4,1.5,28.0,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Kansas,24.3,1.7,23.8,1.5,25.7,1.5,34.1,1.6,32.7,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kentucky,21.1,1.1,21.7,1.0,24.0,1.0,28.8,1.0,28.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Louisiana,DSU,DSU,26.0,1.2,29.6,1.1,35.3,1.3,41.3,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Maine,DSU,DSU,DSU,DSU,DSU,DSU,27.4,2.2,28.2,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Maryland,19.9,1.4,20.4,1.3,20.7,1.3,20.6,1.3,20.2,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Massachusetts,17.3,1.1,DSU,DSU,19.7,1.0,21.4,1.0,27.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Michigan,12.5,0.9,13.9,0.8,16.3,0.8,17.8,0.9,19.4,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Minnesota,16.6,1.5,15.9,1.3,18.5,1.3,23.9,1.4,25.4,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Missouri,17.5,1.1,19.3,1.0,22.9,0.9,22.4,1.0,25.1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,24.1,2.1,25.5,2.0,30.2,2.0,31.8,2.0,34.4,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,16.1,1.9,20.0,1.7,24.5,1.8,23.1,1.8,27.9,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,North Dakota,16.5,3.1,19.8,2.9,29.0,2.8,DSU,DSU,DSU,DSU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Ohio,12.8,0.8,DSU,DSU,17.9,0.7,18.9,0.7,20.6,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Oklahoma,18.3,1.4,24.1,1.3,29.5,1.3,33.1,1.3,36.7,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Oregon,16.9,1.8,17.1,1.7,22.2,1.7,23.5,1.7,25.1,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Rhode Island,DSU,DSU,18.5,2.7,DSU,DSU,17.3,2.5,26.2,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,South Carolina,DSU,DSU,21.0,1.2,22.6,1.2,24.2,1.2,28.8,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,South Dakota,18.6,2.7,20.2,2.6,22.9,2.6,31.4,2.8,29.1,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Tennessee,19.6,1.0,22.7,0.9,24.0,0.8,24.8,0.9,27.8,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Texas,17.0,0.6,20.3,0.6,21.9,0.6,24.4,0.6,25.7,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Utah,DSU,DSU,DSU,DSU,20.8,2.3,22.4,2.5,25.7,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Vermont,18.5,3.8,32.5,3.5,25.9,3.6,28.9,3.4,31.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Virginia,16.2,1.2,18.2,1.1,20.8,1.0,22.9,1.0,27.8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Washington,18.1,1.4,17.7,1.3,20.6,1.3,26.3,1.3,26.7,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,West Virginia,18.9,1.7,22.4,1.6,24.0,1.5,30.1,1.5,29.2,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Wisconsin,17.0,1.3,19.2,1.2,19.6,1.1,22.9,1.3,25.3,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Wyoming,27.3,4.7,25.1,4.2,33.7,4.1,37.8,4.5,40.1,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Âª Consistent with the AHRQ IQI software, pneum...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,"b Rates are adjusted by age, gender, age-gende...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,DSU - Data do not meet the criteria for statis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Key: SE: standard error.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Source: Agency for Healthcare Research and Qua...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
#make year row (row 2) the column headers
ahrqDf.columns = ahrqDf.iloc[2]

In [193]:
ahrqDf.iloc[:,0].
ahrqDf.columns

Index([   nan, '2015',    nan, '2014',    nan, '2013',    nan, '2012',    nan,
       '2011',    nan,    nan,    nan,    nan,    nan,    nan,    nan,    nan,
          nan,    nan],
      dtype='object', name=2)

In [201]:
#df.rename(columns={ df.columns[1]: "your value" })
#ahrqDf.rename(columns={ahrqDf.columns[0]:'State'}) #
ahrqDf.columns.values[0]='State'

In [209]:
ahrqDf.set_index('State', inplace=True)
ahrqDf

2,2015,nan,2014,nan,2013,nan,2012,nan,2011,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
State,,,,,,,,,,,,,,,,,,,
"Deaths per 1,000 hospital admissions with pneumonia,Âª age 18 and over, by State, 2011-2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2015,NaN,2014,NaN,2013,NaN,2012,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,Rateb,SE,Rateb,SE,Rateb,SE,Rateb,SE,Rateb,SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,17.5,0.2,20.4,0.2,22.1,0.1,24.4,0.2,26.7,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,,,,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,DSU,DSU,DSU,DSU,DSU,DSU,43.7,5.2,39.0,5.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,12.2,1.2,14.3,1.1,13.8,1.1,14.8,1.2,17.2,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arkansas,17.7,1.5,23.2,1.4,28.9,1.4,29.5,1.4,33.2,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
California,18.7,0.6,22.5,0.6,23.3,0.5,25.8,0.5,27.6,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Colorado,13.6,1.6,15.0,1.4,15.1,1.5,19.0,1.6,19.5,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Connecticut,18.9,1.6,18.8,1.4,22.3,1.3,24.7,1.3,25.6,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Florida,16.7,0.7,18.1,0.6,19.3,0.6,21.1,0.6,23.4,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Georgia,15.6,1.0,18.8,0.9,20.8,0.9,21.9,0.9,26.1,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hawaii,25.0,3.1,28.3,2.7,25.6,2.7,30.0,2.7,36.9,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Illinois,16.6,0.8,19.2,0.7,21.8,0.7,23.3,0.8,25.5,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Indiana,16.3,1.1,17.2,1.0,22.4,1.0,22.7,1.0,27.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iowa,20.6,1.5,19.4,1.5,24.1,1.4,23.4,1.5,28.0,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kansas,24.3,1.7,23.8,1.5,25.7,1.5,34.1,1.6,32.7,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kentucky,21.1,1.1,21.7,1.0,24.0,1.0,28.8,1.0,28.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Louisiana,DSU,DSU,26.0,1.2,29.6,1.1,35.3,1.3,41.3,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maine,DSU,DSU,DSU,DSU,DSU,DSU,27.4,2.2,28.2,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maryland,19.9,1.4,20.4,1.3,20.7,1.3,20.6,1.3,20.2,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Massachusetts,17.3,1.1,DSU,DSU,19.7,1.0,21.4,1.0,27.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Michigan,12.5,0.9,13.9,0.8,16.3,0.8,17.8,0.9,19.4,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Minnesota,16.6,1.5,15.9,1.3,18.5,1.3,23.9,1.4,25.4,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Missouri,17.5,1.1,19.3,1.0,22.9,0.9,22.4,1.0,25.1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nebraska,24.1,2.1,25.5,2.0,30.2,2.0,31.8,2.0,34.4,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nevada,16.1,1.9,20.0,1.7,24.5,1.8,23.1,1.8,27.9,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
North Dakota,16.5,3.1,19.8,2.9,29.0,2.8,DSU,DSU,DSU,DSU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ohio,12.8,0.8,DSU,DSU,17.9,0.7,18.9,0.7,20.6,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oklahoma,18.3,1.4,24.1,1.3,29.5,1.3,33.1,1.3,36.7,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oregon,16.9,1.8,17.1,1.7,22.2,1.7,23.5,1.7,25.1,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rhode Island,DSU,DSU,18.5,2.7,DSU,DSU,17.3,2.5,26.2,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Carolina,DSU,DSU,21.0,1.2,22.6,1.2,24.2,1.2,28.8,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Dakota,18.6,2.7,20.2,2.6,22.9,2.6,31.4,2.8,29.1,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tennessee,19.6,1.0,22.7,0.9,24.0,0.8,24.8,0.9,27.8,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Texas,17.0,0.6,20.3,0.6,21.9,0.6,24.4,0.6,25.7,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah,DSU,DSU,DSU,DSU,20.8,2.3,22.4,2.5,25.7,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vermont,18.5,3.8,32.5,3.5,25.9,3.6,28.9,3.4,31.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virginia,16.2,1.2,18.2,1.1,20.8,1.0,22.9,1.0,27.8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Washington,18.1,1.4,17.7,1.3,20.6,1.3,26.3,1.3,26.7,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Virginia,18.9,1.7,22.4,1.6,24.0,1.5,30.1,1.5,29.2,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wisconsin,17.0,1.3,19.2,1.2,19.6,1.1,22.9,1.3,25.3,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wyoming,27.3,4.7,25.1,4.2,33.7,4.1,37.8,4.5,40.1,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Âª Consistent with the AHRQ IQI software, pneumonia must be the principal diagnosis and the following cases are excluded: obstetric admissions and transfers to another hospital.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"b Rates are adjusted by age, gender, age-gender interactions, Major Diagnostic Category (MDC), All Patient Refined-Diagnosis Related Group (APR-DRG) risk of mortality score, and transfers into the hospital. The AHRQ IQI software was modified to not use the present on admission (POA) indicators (nor estimates of the likelihood of POA for secondary diagnosis).",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"DSU - Data do not meet the criteria for statistical reliability, data quality, or confidentiality.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Key: SE: standard error.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Source: Agency for Healthcare Research and Quality (AHRQ), Center for Delivery, Organization, and Markets, Healthcare Cost and Utilization Project (HCUP) State Inpatient Databases (SID), and AHRQ Quality Indicators, version 4.4. Not all States participate in HCUP.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
ahrqDf.loc['Georgia']['2015']

'15.6'

In [225]:
#pneumonia deaths from ahrq
for year in range(2011,2016):
    #print(year)
    states=['Georgia','Ohio','Oregon']
    for state in states:
        theYear=f'{year}'
        stateYear=state+theYear
        #print(stateYear)
        #print(ahrqDf.loc[state,theYear])
        pneumoniaRate=ahrqDf.loc[state,theYear]
        stateSummaryDf.loc['PneumoniaRate',stateYear] = pneumoniaRate
stateSummaryDf.head()

,Georgia2009,Ohio2009,Oregon2009,Georgia2010,Ohio2010,Oregon2010,Georgia2011,Ohio2011,Oregon2011,Georgia2012,...,Oregon2014,Georgia2015,Ohio2015,Oregon2015,Georgia2016,Ohio2016,Oregon2016,Georgia2017,Ohio2017,Oregon2017
Total,9.59428e+06,1.135190e+07,3.779860e+06,9.51984e+06,1.135864e+07,3.799107e+06,9.61974e+06,1.13691e+07,3.83264e+06,9.71941e+06,...,3.93131e+06,1.00241e+07,1.1442e+07,3.99113e+06,1.01208e+07,1.143985e+07,4.054353e+06,1.02416e+07,1.148508e+07,4.102901e+06
Uninsured,686014,6.860140e+05,6.860140e+05,686014,6.860140e+05,6.860140e+05,686014,686014,686014,686014,...,686014,686014,686014,686014,686014,6.860140e+05,6.860140e+05,686014,6.860140e+05,6.860140e+05
Rate,0.1914,1.217979e-01,1.701126e-01,0.197017,1.231611e-01,1.714887e-01,0.195718,0.119133,0.15717,0.184406,...,0.0973369,0.138507,0.0652223,0.0702214,0.129394,5.627068e-02,6.234435e-02,0.134274,5.973090e-02,6.844328e-02
ERVisitRate,"36,824.10",NaN,NaN,"36,365.30",NaN,NaN,"36,904.80",NaN,NaN,"38,759.20",...,NaN,"37,693.60",NaN,NaN,"38,335.70",NaN,NaN,"38,515.90",NaN,NaN
PneumoniaRate,NaN,NaN,NaN,NaN,NaN,NaN,26.1,20.6,25.1,21.9,...,17.1,15.6,12.8,16.9,NaN,NaN,NaN,NaN,NaN,NaN